@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Hope you like parks!</h2>
</div>

<div>
    <form asp-controller="Home" asp-action="ParkSearch">
        <input type="text" name="search" placeholder="Search the parks!">
        <input type="submit" id="searchButton">
    </form>

    <a asp-controller="Home" asp-action="AllParks">View all the parks</a>
</div>